button {
    border: none !important;
}

.main {
    max-width: 50%;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.center {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.navbar-nav, .navbar-toggler {
    margin-top: 15px !important;
    margin: auto;
}

.row {
    height: 100%; 
}

.hover:hover {
    cursor: grab;
}

#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 80%
    /* height: 600px; */
}