.main {
    max-width: 50%;
    padding-top: 5%;
    margin: auto;
    text-align: center;
}

.center {
    max-width: 80%;
    margin: auto;
    text-align: center;
}

.navbar-nav, .navbar-toggler {
    margin-top: 15px !important;
    margin: auto;
}

button {
    border: none !important;
}

#map {
    flex-basis: 0;
    flex-grow: 4;
    height: 100%;
}

/* .row {
    height: 70%;
} */

.hover:hover {
    cursor: grab;
  }